<!DOCTYPE html>
<html>
<hr size=10>
<head>
  <meta charset="utf-8"/>
  <title>Comment Section</title>

</head>
<body>

<section class="section">
  <h2 class="fa fa-comments"> Neues Kommentar </h2>
</section>

<form method="POST"
      action="https://staticman.intia.de/v2/entry/janseidler/portal.intia.de/main/comments"
      id="comment2">

  <div class="section">
    <label class="field prepend-icon">
      <span class="field-icon"><i class="fa fa-user"></i></span>
      <input type="text" name="fields[name]" id="name" class="input is-primary"
             placeholder="(Optional) Name eingeben..." value="Anonymer Mensch">
    </label>
  </div><!-- end section -->

  <div class="section" style="display: none;">
    <label class="field prepend-icon">
      <span class="field-icon"><i class="fa fa-user"></i></span>
      <input type="text" name="fields[pagepath]" id="pagepath" class="input is-primary"
             value="{{page.url}}">
    </label>
  </div><!-- end section -->

  <div class="section">
    <label class="field prepend-icon">
      <span class="field-icon"><i class="fa fa-comments"></i></span>
            <textarea class="textarea is-primary" id="message" name="fields[message]"
                      placeholder="Kommentieren..." required></textarea>
    </label>
  </div><!-- end section -->

  <div className="row button-row">
    <button type="submit" class="button is-primary is-light">Jetzt kommentieren!</button>
    </br></br></br>
  </div>
</form>

</body>
<hr size=10>
</html>
