<!DOCTYPE html>
<html>
<hr size=10>
<head>
  <meta charset="utf-8"/>
  <title>Comment Section</title>

</head>
<body>

<section class="section">
  <h1 class="title fa fa-comments"> Neues Kommentar </h1>
</section>

<form method="POST"
      action="https://staticman.intia.de/v2/entry/janseidler/portal.intia.de/main/comments"
      id="comment2">

  <div class="field">
    <label class="label">Nutzername</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-primary" type="text" name="fields[name]" id="name"
             placeholder="(Optional) Name eingeben..." value="Anonymer Mensch">
      <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    </div>
  </div>

  <div class="field" style="display: none;">
    <div class="control has-icons-left has-icons-right">
      <input class="input is-primary" type="text" name="fields[pagepath]" id="pagepath"
             placeholder="(Optional) Name eingeben..." value="{{page.url}}">
    </div>
  </div>

  <div class="field">
    <label class="label">Kommentar</label>
    <div class="control has-icons-left has-icons-right">
      <textarea class="textarea is-primary" id="message" name="fields[message]"
                placeholder="      Kommentieren..." required>&#13;&#10;</textarea>
      <span class="icon is-small is-left">
      <i class="fas fa-comments"></i>
      </span>
    </div>
  </div>

  <div className="row button-row">
    <button type="submit" class="button is-primary is-light">Jetzt kommentieren!</button>
    </br></br></br>
  </div>
</form>

</body>
<hr size=10>
</html>
