<!DOCTYPE html>
<html>
<hr size=10>
<head>
  <meta charset="utf-8"/>
  <title>Comment Section</title>
  <link rel="stylesheet" type="text/css" href="smart-forms.css">
  <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="smart-wrap">
  <div class="smart-forms smart-container wrap-3">

    <div class="form-header header-blue">
      <h4><i class="fa fa-comments"></i> Neues Kommentar </h4>
    </div><!-- end .form-header section -->

    <form method="POST"
          action="https://staticman.intia.de/v2/entry/janseidler/janseidler.github.io/main/comments"
          id="comment2">
      <div>

        <div class="section">
          <label class="field prepend-icon">
            <input type="text" name="fields[name]" id="name" class="input is-primary" placeholder="(Optional) Name eingeben..." value="Anonymer Mensch">
            <span class="field-icon"><i class="fa fa-user"></i></span>
          </label>
        </div><!-- end section -->

        <div class="section">
          <label class="field prepend-icon">
            <textarea class="textarea is-primary" id="message" name="fields[message]" placeholder="Kommentieren..." required></textarea>
            <span class="field-icon"><i class="fa fa-comments"></i></span>
          </label>
        </div><!-- end section -->

        <div className="row button-row">
          <button type="submit" class="button is-primary is-light"><a href=".">Jetzt kommentieren!</a></button></br></br></br>
        </div>
    </form>
  </div>
</div>
</body>
<hr size=10>
</html>