{% assign entries=include.glossary.entries | sort: "name" %}
{% for entry in entries %}
<div class="columns is-vcentered">
    <div class="column is-one-third">
        <h1 class="title is-4">{{ entry.name }}</h1>
        {% for synonym in entry.synonyms %}
          {{ synonym }},
        {% endfor %}
        {% if entry.old_names %}
          <p class="title is-6">Alte Bezeichnungen</p>
          {% for old_name in entry.old_names %}
            {{ old_name }},
          {% endfor %}
        {% endif %}
    </div>
    <div class="column is-two-third">
        {{ entry.description }}
    </div>
</div>
{% endfor %}