{% if page.left_right_layout %}
    {% assign layout=site.data.[page.left_right_layout] %}
    <div class="columns is-multiline">
        {% for section in layout.sections %}
        {% capture isEven %}{% cycle 'false', 'true' %}{% endcapture %}
        <div class="column is-full">
        <div class="columns is-vcentered">
            <div class="column is-half">
                {% if isEven == 'true' %}
                    <div class="card-image">
                        <img src={{section.image}} alt="placeholder">
                    </div>
                {% else %}
                    <h2 class="title"> {{ section.title | markdownify  }}</h2>
                    {{ section.text | markdownify  }}
                    <div>
                        <a href="{{ section.link | relative_url }}" class="button is-primary">
                            Mehr Lesen
                        </a>
                    </div>
                {% endif %}  
            </div>
            <div class="column is-half">
                {% if isEven == 'false' %}
                    <div class="card-image">
                        <img src={{section.image}} alt="placeholder">
                    </div>
                {% else %}
                    <h2 class="title"> {{ section.title | markdownify  }}</h2>
                    {{ section.text | markdownify }}
                    <div>
                        <a href="{{ section.link | relative_url }}" class="button is-primary">
                            Mehr Lesen
                        </a>
                    </div>
                {% endif %}  
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
{% endif %}