{% if page.select-audience %}
<div class="container"></div>
<div class="column is-12">
    <p class="title is-2">{{ site.data.audience.introducing_sentence }}</p>
</div>
<div class="columns is-multiline is-centered">
    {% for target-audience in site.data.audience.cards %}
    <div class="column is-3-fullhd is-6-tablet">

        <a href="{{ target-audience.where_to | relative_url }}">

            <div class="card landing-page-cards">

                {% if target-audience.image %}
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ target-audience.image }}" alt="{{ target-audience.title }}" />
                    </figure>
                </div>
                {% endif %}
                <div class="card-content">
                    <p class="title is-4 landing-page-cards-text">{{ target-audience.description }}</h2>
                    <p class="landing-page-cards-text">{{ target-audience.sentence }}</h2>
                </div>
            </div>

        </a>

    </div>
    {% endfor %}
</div>
</div>
{% endif %}