---
---
$blue: #3621d0;
$light-blue: #cad7ff;
$white: #fff;
$yellow: #ffe719;
$orange: #FFA105;
$cyan: #04E0A2;
$pink: #FF7D87;

$primary: $blue;
$primary-invert: $white;

// Import Main CSS file from theme
@import "main";
