---
layout: default
show_sidebar: false
---

<div class="columns is-multiline">

  <div class="column is-12">
    {{ page.content }}
  </div>

  {% assign sorted_building_blocks = site.building_blocks | sort:page.sort %}

  {% for building_block in sorted_building_blocks %}
  <div class="column is-4-desktop is-6-tablet">

    <a href="{{ building_block.url | relative_url }}">

      <div class="card">

        {% if building_block.image %}
        <div class="card-image">
          <figure class="image is-1by1">
            <img src="{{ building_block.image }}" alt="{{ building_block.title }}" />
          </figure>
        </div>
        {% endif %}
        <div class="card-content">

          <p class="title is-4">{{ building_block.title }}</h2>
          <p class="subtitle is-4">{{ building_block.subtitle }}</p>
          <p class="title is-5 has-text-right">{{ building_block.price }}</p>

        </div>
      </div>

    </a>

  </div>
  {% endfor %}
</div>