---
layout: default
show_sidebar: false
---

<div class="columns is-multiline">

  <div class="column is-12">
    {{ page.content }}
  </div>

    <div class="column">
        <header class="card-header">
            <p class="card-header-title">
              Nihm direkt Kontakts zu uns auf!
            </p>
            <p class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-thumbs-up" aria-hidden="true"></i>
              </span>
            </p>
          </header>
        <div class="card">
            <div class="card-content">
              <div class="content">
                {% include contact-form.html %}
              </div>
            </div>
          </div>
    </div>
    <div class="column">
        <header class="card-header">
            <p class="card-header-title">
              Werde teil unserer Community!
            </p>
            <p class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-globe-europe" aria-hidden="true"></i>
              </span>
            </p>
          </header>
        <div class="card">
            <div class="card-content">
              <div class="content">
                {% include community.html %}
              </div>
            </div>
          </div>
    </div>
</div>

