<!-- Control the width with, if sidebars or menus should appear   -->
{% assign content_width = 'is-12' %}

<!DOCTYPE html>
<html id="default-layout">
    {% include head.html %}
    <body>
        {% include header.html %}
        {% unless page.hide_hero %}
            {% include hero.html %}
        {% else %}
            
        {% endunless %}
        <div class="has-background-primary-light">
            {{content}}
        </div> 
        {% unless page.hide_footer %}
            {% include footer.html %}
        {% endunless %}
    </body>
</html>


<!---
TODOS:
- Hero wird lighter
- Headline muss farbe behalten
- Headline rechtsbündig
- ...
-->