---
layout: default
---

{% if page.toc %}
{% assign contentsTitle = page.toc_title | default: 'Contents' %}
{% include toc.html html=content class='menu-list' h_min=1 h_max=4 contents_title=contentsTitle %}
{% endif %}

<div class="content">
  {{ content }}
  {% assign entries=site.glossary | sort:page.sort %}
  {% for entry in entries %}
  <div class="columns is-vcentered">
    <div class="column is-one-third">
      <a href="{{ entry.url | relative_url }}">
        <h1 class="title is-4">{{ entry.title }}</h1>
      </a>
      {% for synonym in entry.synonyms %}
      {{ synonym }},
      {% endfor %}
      {% if entry.old_names %}
      <p class="title is-6">Alte Bezeichnungen</p>
      {% for old_name in entry.old_names %}
      {{ old_name }},
      {% endfor %}
      {% endif %}
    </div>
    <div class="column is-two-third">
      {{ entry.abstract }}
    </div>
  </div>
  {% endfor %}
</div>