---
layout: default
---

<div class="columns is-multiline">
  <div class="column is-6">
    <figure class="image is-4by3">
      <img src="{{ page.image }}"/>
    </figure>
  </div>

  <div class="column is-6">
    <div class="columns is-multiline">
      <div class="column">
        <p class="title is-3">{{ page.title }}</p>
      </div>
      <div class="column is-hidden-print">
        <p class="button is-primary is-light has-text-right" onclick="window.print()">Drucken</p>
      </div>
    </div>
    <p class="subtitle is-3">{{ page.subtitle }}</p>
    {% if page.rating %}
    {% include rating.html rating=page.rating style="is-hidden-print has-text-centered" %}
    {% endif %}
    <div class="content">
      {{ page.summary }}
    </div>
  </div>
  <div class="column is-12">
    <div class="content">
      <table class="table is-striped">
        <tbody>
        <tr>
          <td>Ziel/e der Anwender*innen</td>
          <td> {{ page.goal_intia }}</td>
        </tr>
        <tr>
          <td>Ziel/e der Zielgruppen</td>
          <td> {{ page.goal_audience }}</td>
        </tr>
        <tr>
          <td> Quellen</td>
          <td> {{ page.source }}</td>
        </tr>
        <tr>
          <td> Voraussetzungen</td>
          <td> {{ page.requirements }}</td>
        </tr>
        <tr>
          <td>Erwartete Ergebnisse</td>
          <td> {{ page.expected_results }}</td>
        </tr>
        <tr>
          <td>Benötigte Materialien</td>
          <td>
            <ul>
              {% for part in page.material %}
              <li>{{ part }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <td> Dauer</td>
          <td>
            {% for phase in page.duration %}
            {{ phase.name }}
            <ul>
              <li>Dauer: {{ phase.duration }}</li>
              <li> Beschreibung: {{ phase.description }}</li>
            </ul>
            {% endfor %}
          </td>
        </tr>
        </tbody>
      </table>
      {{ content }}
    </div>
    {% include comment-form.html %}

    {% assign comments=site.data.comments | where :"pagepath", page.url %}

    {% for entry in comments %}

    <div class="card">
      <div class="card-header">
        {{ entry | map: "name" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ entry | map: "date" }}
      </div>
      <div class="card-content">
        {{ entry | map: "message" }}
      </div>
    </div>
    <br>
    {% endfor %}
  </div>

</div>

