---
layout: default
---
<a href="{{ site.baseurl }}/stories/" class="button is-primary">Zurück</a>
<div class="content">
  <p>Veröffentlicht: {{ page.date | date: "%b %-d, %Y" }} von {{ page.author }}</p>
  <P>Lesezeit: {{ page.content | reading_time }}</P>

  {{ content }}
</div>

<div class="tags">
  {% for tag in page.tags %}
  {% include tag.html tag=tag %}
  {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}
<a href="{{ site.baseurl }}/stories/" class="button is-primary">Zurück</a>

{% if site.disqus.shortname %}
{% include disqus.html %}
{% endif %}