---
layout: default
---

{{ content }}

<div class="columns is-multiline">
    <div class="column is-centered is-12 tags">
        <h1 class="title">Was suchst du?</h1>
        {% for post in paginator.posts %}
            {% assign existing_tags = existing_tags | concat: post.tags  | uniq %}
        {% endfor %}
        {% for tag in existing_tags %}
            {% include tag.html tag=tag %}
        {% endfor %}
    </div>
    <div class="column is-12">
        {% include pagination.html %}
    </div>
    {% for post in paginator.posts %}
    <div class="column is-4">
        {% include post-card.html %}
    </div>
    {% endfor %}
    <div class="column is-12">
        {% include pagination.html %}
    </div>
    <div class="column is-12">
        {% include subscribe.html %}
    </div>
</div>